.red{
    border: 1px solid red;
}

.green{
    border: 1px solid green;
}
.yellow{
    border: 1px solid yellow;
}

.register-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        margin-top: 50px;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            color: #1877f2;
        }
    }
   
    .content-right{
        .brand {
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            color: #1877f2;
        }
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        box-sizing: border-box;

        .forgot-password {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}